:root {
    --menu_color: #1481c0;
    --bg_color: #f8f9fa;
    --nav_link_color: #f2f2f2;
    --brand_name_color: white;
    --nav_active_color: white;
    --nav_hover_color: rgb(20, 162, 245);
    --header_color: #488fb8;
}



body {
    margin: 0;
    font-family:Helvetica, sans-serif ;
    background-color: var(--bg_color);
}

.topnav {
    overflow: hidden;
    background-color: var(--menu_color);
    z-index: 4;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
}

.topnav a {
    color: var(--nav_link_color);
    ;
    display: inline-block;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 13px;
    margin: 0px;
    margin-bottom: 1px;

    
}
.topnav #language {
    font-size: 13px; 
    margin-top: 10px;
    color: var(--nav_link_color);
    background-color: transparent;
    border: 1px solid white;
    outline: 21px solid var(--menu_color);
}

.topnav a img {
    position: relative;
    top: -2px;
}

.topnav #language option {
    color: var(--menu_color);
    background-color: transparent;
    border: 1px solid white;
    
}
.topnav a#brand_name {
    background-color: var(--menu_color);
    color: var(--brand_name_color);
    ;
    margin-left: 2px;
    font-size: 16px;
}

.topnav a#logout {
    float: left;
}

.topnav #menu_icon {
    display: none;
    float: left;
}

#logout_icon {
    /* flip logout icon */
    margin-right: 5px;
    position: relative;
    top: 2px;
    font-weight: bold;
    padding:5px;
}


/* change color and bg-color on nav link hover --(except logout link) */

.topnav a:hover {
    background-color: var(--nav_hover_color)
}

a.active {
    background-color: var(--nav_active_color);
    ;
    /* f5f5f5 */
    color: rgb(20, 129, 192);
    border-bottom: 1px solid var(--menu_color);
}

a.active:hover {
    background-color: var(--nav_active_color);
    ;
    color: var(--menu_color);
}

.topnav a#logout:hover {
    background-color: var(--menu_color);
    color: white;
}

.topnav a#brand_name:hover {
    background-color: var(--menu_color);
    color: var(--nav_active_color);
    ;
}

#document_download,
#show_result,
#graph_show {
    background-color: var(--menu_color);
    color: white;
}

a#download_link {
    text-decoration: none;
    color: white;
}

#download_link:hover,
#download_link:focus {
    text-decoration: none;
    color: white;
}

.vertical div svg {
    margin-top: -75px;
    height: 400px;
}

#document_search,
#document_download,
#document_select,
#save_2Gram,#save_3Gram,
#Source_document_select,
#definition_select,
#Destination_document_select {
    background-color: var(--menu_color);
    color: white;
}

#advanced_search,
#constraints_setting {
    background-color: white;
    color: var(--menu_color);
    border: 1px solid var(--menu_color);
}

h6.header {
    background-color: #488fb8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* background-color: rgb(105, 104, 104); */
    /* background-color: rgb(21, 87, 126); */
}

.header_icon {
    position: relative;
    top: -1px;
}

thead {
    background-color: var(--header_color);
    position: sticky;
    top: 0;
    z-index: 1;
}

h6.table_header,
.TF_IDF_header,
.Term_count_header,
.subject_keywords,
.subject_distribution,
.bigram_header,
.trigram_header,
.comparison_header,
.document_year,
.document_subject,
.chart_header,
.document_level,
.actors_distribution,
.accordin_header {
    color: var(--menu_color);
}

#def_keywords_pane,
#def_keywords_pane1 {
    text-align: justify;
    text-justify: inter-word;
}

th {
    direction: ltr;
    color: white;
    font-weight: normal;
}

td,
th {
    text-align: center !important;
    direction: ltr;
    vertical-align: middle !important;
}

#original_tabs,
#pills-tab {
    border-bottom: 1px solid var(--header_color);
}


/* .doc_info_table thead,
.tf_idf_table thead,
#Primary_Keywords_header,
#Final_Keywords_header,
#First_two_para_header,
#Last_two_para_header {
    background-color: rgb(87, 87, 87);
} */

h5 a,
h6 a,
li a,
tr a {
    text-decoration: none;
    display: block;
    color: #212529;
    direction: ltr;
}

tr button.detail {
    color: var(--menu_color);
}

h5 a:hover,
h6 a:hover,
li a:hover,
tr a:hover {
    text-decoration: none;
    color: var(--menu_color);
}

.nav-link {
    color: rgb(20, 129, 192);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    /* color: #fff; */
    color: rgb(20, 129, 192);
    /* background-color: var(--menu_color); */
    /* background-color: rgb(72, 143, 184); */
    background-color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: 1px solid var(--menu_color);
    border-right: 1px solid var(--menu_color);
    border-left: 1px solid var(--menu_color);
    position: relative;
    top: 1px;
}

label,
option,
select,
li {
    direction: ltr;
}

.badge {
    position: relative;
}

.modal{
    z-index: 99999 !important;
}

.modal_btn {
    background-color: var(--menu_color);
    color: white;
}

.modal_btn:hover,
.modal_btn:focus {
    background-color: var(--menu_color);
    color: white;
}


/* modal style */

.modal-body,
.modal-title {
    direction: ltr;
}

.anychart-credits {
    display: none;
}

#scroll_btn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: #ccc;
}

#scroll_btn i {
    font-size: 35px;
}

#scroll_btn:hover {
    color: #488fb8;
}


/*  style configuration for smaller screens*/

@media screen and (max-width: 784px) {
    .topnav a:not(:nth-child(2)) {
        display: none;
        /* hidden all links except menu_icon and brand_name */
    }
    .topnav a#menu_icon {
        float: right;
        display: block;
    }
    /* remove hover on menu icon at responsive view */
    .topnav a#menu_icon:hover {
        background-color: var(--menu_color);
        color: white;
    }
    i#brand_logo {
        display: none;
    }
}

@media (min-width: 576px) {
    /* .modal-dialog {
        max-width: 900px !important;
    } */
}


/* when click on menu icon  */

@media screen and (max-width: 784px) {
    /* .topnav.responsive {
        position: relative;
    } */
    /* put each link on bottom of each other by display=block */
    .topnav.responsive a:not(:nth-child(1)) {
        float: none;
        display: block;
        text-align: right;
    }
    .topnav a#logout {
        float: right;
    }
    a#brand_name {
        float: none;
        display: block;
        text-align: right;
    }
    i#brand_logo {
        display: none;
    }
}


/* custom scrollbar */


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 1px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.spinner-border {
    display: none;
    width: 20px;
    height: 20px;
    margin-right: 8px !important;
    vertical-align: middle !important;
    margin-top: 1.4px !important;
}

.spinner-border.active {
    display: block;
}

#original_tabs {
    z-index: 2;
}

#SearchResultLable {
    position: relative;
    top: 10px;
    text-align: left;
    direction: ltr;
}

#simple_graph_container svg {
    width: 100% !important;
}

.source_header,
.destination_header {
    border: 1px solid rgb(20, 129, 192);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(20, 129, 192);
}

.source_container,
.destination_container {
    border-left: 1px solid rgb(20, 129, 192);
    border-right: 1px solid rgb(20, 129, 192);
    border-bottom: 1px solid rgb(20, 129, 192);
}

.footable-filtering-search {
    width: 100% !important;
}

.input-group-btn {
    display: none !important;
}

.table.footable>thead>tr.footable-filtering>th div.input-group {
    width: 100% !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

#ModalBody div table thead,
#ModalBody_Source div table thead,
#ModalBody_Destination div table thead {
    position: relative !important;
}

.footable-pagination-wrapper .label {
    display: none;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(1.4);
  padding: 10px;
}

.ngram-textbox
{
    width: 80%;
    margin-left: 5%;
}

.ngram-div
{
    display: flex;
    justify-content: center;
}