:root {
  --menu_color: #0e3f8b;
  --bg_color: #f8f9fa;
  --nav_link_color: #f2f2f2;
  --brand_name_color: white;
  --nav_hover_color: #7FB1CD;
  --header_color: #0e3f8b;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir-FD.ttf");
}

body {
  margin: 0;
  font-family: vazir;
  background-color: var(--bg_color);
}

a {
  color: #0e3f8b;
}

.tooltip {
  font-family: vazir;
  direction: rtl;
}
:root{
  --nav_hover_color: #1e56a0;
}

.dropdown-toggle::after {
  position: relative;
  top: 2px;
}

.nav_menu {
  background-color: var(--menu_color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 999;
  font-size: 12px;

}

.nav_menu a {
  color: var(--nav_link_color);
  text-decoration: none;
 
}

.nav_menu a:hover,
.nav_menu a:focus {
  color: white;
  text-decoration: none;
}



.nav_menu a.active {
  background-color: var(--nav_active_color);
  color: rgb(145, 233, 247);
  border-bottom: 1px solid var(--menu_color);
}

.nav_menu .dropdown-menu a.active {
  background-color: var(--nav_hover_color);
  color: white;
}



/* dropdownn menu */


.nav_menu .dropdown-menu a {
  color: #222832;
  background-color: white;
  font-size: 14px;
}

.nav_menu .dropdown-menu a:hover, .nav_menu .dropdown-menu a:focus {
  color: #0E3F8B !important;
  border-bottom: 1px solid #0E3F8B;
}

/* Set the border color */

.navbar-toggler {
  border-color: white;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.topnav a img {
  width: 25px;
}

.nav_menu #language {
  font-size: 13px;
  margin-top: 5px;
  color: var(--nav_link_color);
  background-color: transparent;
  border: 1px solid white;
  outline: 2px solid var(--menu_color);
  
}
.nav_menu #language option {
  color: var(--menu_color);
  background-color: transparent;
  border: 1px solid white;
}

.topnav a#logout {
  float: left;
}

.topnav #menu_icon {
  display: none;
  float: right;
}

#logout_icon {
  /* flip logout icon */
  transform: scaleX(-1);
  margin-right: 5px;
  position: relative;
  top: 2px;
  font-weight: bold;
}



#document_download,
#document_select,
#show_result,
#graph_show,
.btnclass{
  background-color: var(--menu_color);
  color: white;
}

.document_select_box {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

a#download_link {
  text-decoration: none;
  color: white;
}

#download_link:hover,
#download_link:focus {
  text-decoration: none;
  color: white;
}

.vertical div svg {
  height: 75vh;
}

#document_search,
#document_summary,
#document_subject_btn,
#document_select,
#document_download,
#save_2Gram,
#save_3Gram,
#Source_document_select,
#Destination_document_select {
  background-color: var(--menu_color);
  color: white;
}

.dropdown_icon {
  font-size: 13px;
  position: relative;
  top: -4px;
}

#copy_document i {
  color: var(--menu_color);
}

#copy_document {
  outline: none;
  border: none;
  background-color: transparent;
}

#copy_document i {
  font-size: 35px;
  position: relative;
  top: -18px;
}

.topnav #help_link {
  float: left;
  display: block;
}

#help_icon {
  
  font-size: 18px;
  position: relative;
  top: -5px;
  transform: scaleX(1);
}

/* #note_icon {
  font-size: 16px;
  position: relative;
  top: -4px;
} */

.welcometext {
  padding: 8rem;
}

.welcometext p{
  direction: rtl;
  text-align: justify;
  line-height: 2.5;
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.helptext {
  direction: rtl;
  text-align: center;
  line-height: 3;
  font-size: 16px;
  font-weight: bold;
  margin: auto !important;
  display: block;
}

#advanced_search,
#constraints_setting {
  background-color: white;
  color: var(--menu_color);
  border: 1px solid var(--menu_color);
}

h6.header {
  background-color: #0e3f8b;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* background-color: rgb(105, 104, 104); */
  /* background-color: rgb(21, 87, 126); */
}

.header_icon {
  position: relative;
  top: -5px;
}

thead {
  background-color: #0e3f8b;
  position: sticky;
  top: 0;
}

h6.table_header,
.revoked_type,
.document_type_header,
.subject_area,
.subject_sub_area,
.TF_IDF_header,
.Term_count_header,
.subject_keywords,
.subject_distribution,
.bigram_header,
.trigram_header,
.comparison_header,
.document_year,
.document_judgment_type,
.document_subject_type_display_name,
.document_subject,
.document_status,
.document_branch,
.chart_header,
.document_level,
.actors_distribution,
.accordin_header,
.tools_distribution,
.extractected_references,
.document_branch,
.document_status {
  color: var(--menu_color);
}

#def_keywords_pane,
#def_keywords_pane1 {
  text-align: justify;
  text-justify: inter-word;
}

th {
  direction: rtl;
  color: white;
  font-weight: normal;
}

td,
th {
  text-align: center !important;
  direction: rtl;
  vertical-align: middle !important;
}

#original_tabs,
#pills-tab {
  border-bottom: 1px solid var(--header_color);
}

/* .doc_info_table thead,
.tf_idf_table thead,
#Primary_Keywords_header,
#Final_Keywords_header,
#First_two_para_header,
#Last_two_para_header {
    background-color: rgb(87, 87, 87);
} */

h5 a,
h6 a,
li a,
tr a {
  text-decoration: none;
  display: block;
  color: #212529;
  direction: rtl;
}

tr button.detail {
  color: var(--menu_color);
}

h5 a:hover,
h6 a:hover,
li a:hover,
tr a:hover {
  text-decoration: none;
  color: var(--menu_color);
}

.nav-link {
  color: rgb(20, 129, 192);
}

.nav-pills .nav-link.active:not(.modal_nav_link),
.nav-pills .show > .nav-link:not(.modal_nav_link) {
  /* color: #fff; */
  color: rgb(20, 129, 192);
  /* background-color: var(--menu_color); */
  /* background-color: rgb(72, 143, 184); */
  background-color: white;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 1px solid var(--menu_color);
  border-right: 1px solid var(--menu_color);
  border-left: 1px solid var(--menu_color);
  position: relative;
  top: 1px;
}

label,
option,
select,
li {
  direction: rtl;
}

.badge {
  position: relative;
}

.modal_btn {
  background-color: var(--menu_color);
  color: white;
}

.modal_btn:hover,
.modal_btn:focus {
  background-color: var(--menu_color);
  color: white;
}

/* modal style */

.modal-body,
.modal-title {
  direction: rtl;
}

.anychart-credits {
  display: none;
}

#scroll_btn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: #ccc;
}

#scroll_btn i {
  font-size: 35px;
}

#scroll_btn:hover {
  color: #488fb8;
}


.blue_dotted_border {
  border: 2px dashed var(--menu_color);
  padding: 0 2px;
  border-radius: 5px;

}

.yellow_bottom_dotted_border {
  border-bottom: 3px dashed orange;
  padding: 0 2px;
  /* border-radius: 5px; */

}
.gray_dotted_border {
  border-bottom: 2px dashed gray;
  padding: 0 2px;
  border-radius: 5px;

}

.green_dotted_border {
  border-bottom: 2px dashed green;
  padding: 0 2px;
  border-radius: 5px;

}

/*  style configuration for smaller screens*/

@media screen and (max-width: 784px) {
  .topnav a:not(:nth-child(2)) {
    display: none;
    /* hidden all links except menu_icon and brand_name */
  }
  .topnav a#menu_icon {
    float: right;
    display: block;
  }
  /* remove hover on menu icon at responsive view */
  .topnav a#menu_icon:hover {
    background-color: var(--menu_color);
    color: white;
  }
  i#brand_logo {
    display: none;
  }
}

@media (min-width: 576px) {
  /* .modal-dialog {
        max-width: 900px !important;
    } */
}

/* when click on menu icon  */

@media screen and (max-width: 784px) {
  /* .topnav.responsive {
        position: relative;
    } */
  /* put each link on bottom of each other by display=block */
  .topnav.responsive a:not(:nth-child(1)) {
    float: none;
    display: block;
    text-align: right;
  }
  .topnav a#logout {
    float: right;
  }
  a#brand_name {
    float: none;
    display: block;
    text-align: right;
  }
  i#brand_logo {
    display: none;
  }
}

/* custom scrollbar */

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.spinner-border {
  display: none;
  width: 20px;
  height: 20px;
  margin-right: 8px !important;
  vertical-align: middle !important;
  margin-top: 1.4px !important;
}

.spinner-border.active {
  display: block;
}

#original_tabs {
  /*z-index: 2;*/
}

#SearchResultLable,
.decision_tree_btn,
#ColumnSelection,
#ResultPagination,
#VoteResultLable,
#DocsWithoutSubject {
  position: relative;
  top: 10px;
  text-align: left;
  direction: rtl;
}

#simple_graph_container svg {
  width: 100% !important;
}

.source_header,
.destination_header {
  border: 1px solid rgb(20, 129, 192);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgb(20, 129, 192);
}

.source_container,
.destination_container {
  border-left: 1px solid rgb(20, 129, 192);
  border-right: 1px solid rgb(20, 129, 192);
  border-bottom: 1px solid rgb(20, 129, 192);
}

.footable-filtering-search {
  width: 100% !important;
}

.input-group-btn {
  display: none !important;
}

.table.footable > thead > tr.footable-filtering > th div.input-group {
  width: 100% !important;
}

.pagination {
  display: inline-flex;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

#ModalBody div table thead,
#ModalBody_Source div table thead,
#ModalBody_Destination div table thead {
  position: relative !important;
}

.footable-pagination-wrapper .label {
  display: none;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(1.4);
  padding: 10px;
}

.ngram-textbox {
  width: 80%;
  margin-left: 5%;
}

.ngram-div {
  display: flex;
  justify-content: center;
}

.multi-select-menuitems label {
  width: 90% !important;
}

.multi-select-menuitems input[type="checkbox"] {
  right: 3%;
}

.sign-out-btn {
  font-size: 16px;
  padding: 5px 0;
  color: white;
  cursor: pointer;
  position: relative;
  top: -1px;
  transform: scaleX(-1);
  
}

/* added */
ol li::marker {
  font-weight: bold;
}

.popover-header,
.popover-body {
  direction: rtl;
  text-align: right;
  font-family: vazir;
}

.btn-danger {
  width: 3.5rem;
}

.btn-success {
  width: 3.5rem;
}

.cursor-pointer {
  cursor: pointer;
}


sup {
  font-size: 80%;
  vertical-align: top;
  position: relative;
  top: 1px;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

/*.container {*/
/*  display: table-cell;*/
/*  vertical-align: middle;*/
/*  text-align: center;*/
/*}*/

.slider-wrapper {
  width: 500px;
  display: inline-block;
  position: relative;
  font-family: vazir;
}

.ui-slider {
  background: #efefef;
  border: 1px solid #d2d2d2;
  height: 20px;
  position: relative;
  border-radius: 100px;
}

.ui-slider-range {
  background: #71c0ff;
  height: 20px;
  position: absolute;
  border-top: 1px solid #5d99c8;
  border-bottom: 1px solid #5d99c8;
  transform: translateY(-1px);
}
.ui-slider-range:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.ui-slider-handle {
  background: #555;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  z-index: 10;
  background: linear-gradient(#555, #454545);
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  box-shadow: inset -2px -2px 6px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.1s;
}
.ui-slider-handle:focus {
  outline: none;
}
.ui-slider-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ui-state-active {
  width: 22px;
}

.range-wrapper {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.range {
  background: #fff;
  white-space: nowrap;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: #555;
  width: 150px;
  z-index: 10;
  position: relative;
}
.range:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 67px solid transparent;
  border-right: 67px solid transparent;
  border-top: 6px solid #d2d2d2;
}

.range-value {
  width: 74px;
  padding: 8px 0;
  text-align: center;
  display: inline-block;
  transition: background 0.1s;
}

.range-divider {
  width: 1px;
  display: inline-block;
}
.range-divider:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #d2d2d2;
  content: "";
}

.range-alert {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid #d2d2d2;
  color: #0E0E0E;
  line-height: 15px;
  transition: right 0.2s;
}
.range-alert.active {
  right: -15px;
}

.marker {
  position: absolute;
  top: 100%;
  padding-top: 16px;
  font-size: 13px;
  color: #555;
  letter-spacing: 0.05em;
  transform: translateX(-50%);
}
.marker:after {
  content: "";
  width: 1px;
  height: 8px;
  background: #d2d2d2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.marker-0:after {
  display: none;
}

.marker-25 {
  left: 25%;
}

.marker-50 {
  left: 50%;
}

.marker-75 {
  left: 75%;
}

.marker-100 {
  right: 0;
  transform: translateX(50%);
}
.marker-100:after {
  display: none;
}

.gear-wrapper {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  backface-visibility: hidden;
  width: 150px;
  height: 20px;
  overflow: hidden;
}

.gear-large {
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  left: 18px;
  transform-origin: 50% 50%;
  transition: top 0.15s;
}
.gear-large:after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e8e8e8;
  border-radius: 100px;
}
.gear-large:nth-child(2) {
  background: #d2d2d2;
  left: auto;
  right: 18px;
}
.gear-large:nth-child(2) .gear-tooth {
  background: #d2d2d2;
}
.gear-large.active {
  top: 4px;
}

.gear-tooth {
  width: 22%;
  height: 114%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  background: #d2d2d2;
  border-radius: 2px;
}
.gear-tooth:nth-child(2) {
  transform: rotate(90deg) translate(-50%, -50%);
}
.gear-tooth:nth-child(3) {
  transform: rotate(45deg) translate(-50%, -50%);
}
.gear-tooth:nth-child(4) {
  transform: rotate(-45deg) translate(-50%, -50%);
}

canvas{
    cursor: default;
    height: auto!important;
}


.pin-header{
    color: #0e3f8b;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px

}

.btn-primary{
  background-color: #0e3f8b;
}

.form-check-input:checked{
  background-color: #0e3f8b;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
  background-color: #0e3f8b;
}

.nav-pills .nav-link.active:not(.modal_nav_link), .nav-pills .show > .nav-link:not(.modal_nav_link) {
  color: #0e3f8b;
}

.ts-control {
  font-size: 1rem;
  padding: 3px;
  border: 0px;
  z-index: 0;
}

.ts-wrapper.multi .ts-control {
  padding: 1px !important;
}

.ts-wrapper.multi .ts-control > div {
  padding: 1px 4px !important;
  margin: 1px;
}
/*<div class=ts-wrapper multi>
<div>
<div class=ts-control>
<div>example</div>
</div>
</div>
</div>*/
.ts-control .item {
  display: flex;
  flex-direction: row-reverse;
}

.ts-wrapper.plugin-remove_button .item .remove-searchable-item {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 0 6px;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;

  border-left: 1px solid #d0d0d0;
  margin-left: 5px;
}

.ts-wrapper.plugin-remove_button .item .remove-searchable-item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.ts-wrapper.plugin-remove_button.disabled .item .remove-searchable-item:hover {
  background: none;
}

.fa-file-archive {
  color: #0e3f8b;
}

.source_header, .destination_header {
  color: #0e3f8b;
}

.avatar-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}
.avatar-wrapper.uploader .profile-pic {
  opacity: 0.9;
}

.avatar-wrapper.uploader:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.avatar-wrapper.uploader:hover .profile-pic {
  opacity: 0.5;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
  font-family: FontAwesome;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 190px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center;
}
.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}
.avatar-wrapper.uploader .upload-button .fa-arrow-circle-up {
  opacity: 0.3;
}

.delete-avatar-button {
  position: absolute;
  top: 65px;
  right: 125px;
  font-size: 30px;
  z-index: 10;
  margin: 0;
  padding: 0;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.delete-avatar-button i {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 2px;
  left: 6px;
}

.ts-dropdown .active {
  background-color: #e7f1ff;
}

.accordion-button:not(.collapsed) {
  color: #0e3f8b;
}

#advanced_search[aria-expanded="true"] {
  background-color: white;
  color: var(--menu_color);
  border: 1px solid var(--menu_color);
}

#advanced_search[aria-expanded="false"] {
  background-color: var(--menu_color);
  color: white;
}


.subject_table_cell
{
  padding: 5px;
}

.subject-content-container {
    border: 1px solid #bbbbbba1;
    margin: 2% 0;
    padding: 5px;
    background: #fcfcfc;
    font-size: 14px;
    box-shadow: 0px 4px 7px 1px #8888882e;
    border-radius: 5px;
}

.subject-content-container p {
    font-weight: 800;
    padding: 15px;
    margin: 0;
    text-align: right;
}

.chart-header {
  font-size: 1.7rem;
}

.styleSwalIcon {
  font-size: 8px;
}

.chart-container {
  padding: 1%;
  box-shadow: 0px 0px 7px 1px #dadada96;
  border-radius: 4px;
  background: white;
  margin: 1%;
}

.chart-container.full {
  width: 100%;
}

.chart-container.half {
  width: 100%;
}

.chart-container.third {
  width: 100%;
}

@media screen and (min-width: 968px) {

  .chart-container.full {
    width: 98%;
  }

  .chart-container.half {
    width: 48%;
  }

  .chart-container.third {
    width: 31%;
  }

}

.chart-title {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #0E3F8B;
  margin: 20px 3px;
}

.charts-list-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

table .footable {
  counter-reset: Serial;
  border-collapse: collapse;
}

.footable tbody tr:not(.footable-empty) td:first-child:before{
  counter-increment: Serial;
  content:counter(Serial);
}


table .footable.no-row-number{
  counter-reset: none;
  border-collapse: collapse;
}

.footable.no-row-number tbody tr:not(.footable-empty) td:first-child:before{
  counter-increment: none;
  content:none;
} 

.swal-title {
  font-size: 25px !important;
}

.swal-text {
  font-size: 20px !important;
}

.swal-wide{
    width:600px !important;
}

/* added */
.index-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
  padding: 0;
  margin: 0;
}

.index-container {
  background: linear-gradient(180deg, #F8F9FA 0%, #CBD3DA 54.18%, #F8F9FA 100%);
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}


.nav-item .dropdown-menu li {
  border-bottom: 1px solid #DBE1EA;
}

.nav-item .dropdown-menu li:last-child {
  border-bottom: 0px;
}

.nav-item .dropdown-menu li.divider {
  border-bottom: 1px solid #0E3F8B;
}

.coming-soon {
  color: #155FD1;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

.nav-item {
  height: 100%;
}

.dropdown-menu {
  filter: drop-shadow(10px 10px 20px rgba(137, 149, 167, 0.15));
  border-radius: 0 .25rem;
}

.modal-header .btn-close {
  color: #4F4F4F;
  border: 0;
  background-color: #E5E5E5;
  border-radius: 29px;
}

.modal-title {
  font-weight: 400;
  font-size: 20px;
  color: #0E3F8B;
}
.modal-header {
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #D6D6D6;
}

.modal-content {
  padding: 12px 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgb(108 117 125 / 25%);
}

.modal-body {
  font-size: 16px;
  line-height: 27px;
  color: #6C757D;
  border-bottom: 1px solid #D6D6D6;
  padding: 1rem 0;
}

.modal-body a, h1, h2, h3, h4, h5, h6, p {
  font-size: 16px;
  line-height: 27px;
  color: #6C757D;
}

.modal-footer {
  padding-top: 1rem;
}

.green-button {
  background: #FFFFFF;
  border: 1px solid #107C41;
  border-radius: 8px;
  color: #107C41;
}

.blue-button {
  background: #FFFFFF;
  border: 1px solid #0E3F8B;
  border-radius: 8px;
  color: #0E3F8B;
}

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width:16px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color:#f4f4f4;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color:#E5E5E5;
  border-radius:16px;
  border:0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:0;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

/* div box */
.scrollbar {
  overflow-y: scroll}

/* added */
.index-background {
  background-image: url('../image/index_background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 94vh;
  padding: 0;
  margin: 0;
}

.index-container {
  background: linear-gradient(180deg, #F8F9FA 0%, #CBD3DA 54.18%, #F8F9FA 100%);
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}
.w-65 {
  width: 65%;
}

.nav-item {
  height: 100%;
}

.nav-item .dropdown-menu li {
  border-bottom: 1px solid #DBE1EA;
}

.nav-item .dropdown-menu li:last-child {
  border-bottom: 0px;
}

.nav-item .dropdown-menu li.divider {
  border-bottom: 1px solid #0E3F8B;
}

.dropdown-menu {
  filter: drop-shadow(10px 10px 20px rgba(137, 149, 167, 0.15));
  border-radius: 0 .25rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}


.alert {
  z-index: 100;
  display: block;
  background-color: white;
  padding: 16px 24px 16px 16px;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 480px;
  min-height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert .icon-child {
  background: #F30C0C;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  right: 4px;
  line-height: 22px!important;
  text-align: center;
  color: white;
}

.alert .icon-parent {
  background: #FDCECE;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  margin-left: 4px;
}

.alert .btn-understand{
  color: #0E3F8B;
  text-align: center;
  border: 1px solid #0E3F8B;
  background-color: #fff;
  font-size: 16px;
  border-radius: 8px;
  width: 75%;
  padding: 12px 16px;

}

.alert .alert-header,.alert-footer{
  border: unset !important;
}

.alert .alert-body {
  font-size: 16px;
  position: relative;
  /* padding: 0px 4.3rem 0 4.3rem; */
  text-align: justify;
  font-weight: 400;
  line-height: 30px;
  color: #565656;
}

.alert .alert-header{
  display: flex;
  width: 100%;
  /* padding-top: 20px!important; */
  justify-content: space-between;
  flex-direction: row-reverse;
  /* padding-bottom: 10px; */
  /* padding-right: 20px; */
}

.alert .alert-header h5 {
  font-weight: 600;
  font-size: 16px;
  padding: 5px 15px;
  direction: rtl;
}

.alert .closeset{
  background-color: #E5E5E5;
  border-radius: 65px;
  width: 24px;
  height: 24px;
  font-weight: bold;
  border: unset;
}

.alert .closeset i {

}

.alert .fa-exclamation:before{
  content:"!"!important;
}
@media (min-width: 768px){
  .alert .alert-dialog {
    width: 480px;
    margin: 30px auto;
  }
/* added */
}

#HooshyarAlert {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aaaaaa59;
  z-index: 50;
}

.modal-dialog-scrollable .modal-body {
  overflow-x: inherit;
}